{% comment %}
	Renders a section quick link

	Accepts:
	- section: {String} (Required)
    - quickLinkStyle {String
    - quickLinkText {String}
    - quickLinkUrl {String}

	Usage:
	Render this snippet inside of liquid capture and pass it to section snippet as sectionAction.

	{% render 'section-quick-link', section: section %}
{% endcomment %}

{%- assign quickLinkStyle = quickLinkStyle | default: section.settings.sectionQuickLinkStyle -%}
{%- assign quickLinkText = quickLinkText | default: section.settings.sectionQuickLinkText -%}
{%- assign quickLinkUrl = quickLinkUrl | default: section.settings.sectionQuickLinkResource.url -%}

{%- if quickLinkText | strip -%}

    {%- if quickLinkStyle == 'nil' -%}
        {%- assign quickLinkStyle = settings.sectionQuickLinkStyle -%}
    {%- endif -%}

     {%- case quickLinkStyle -%}
        {% when 'primary' %}
            {%- assign quickLinkClass = 'btn btn-primary btn-sm' -%}
        {% when 'secondary' %}
            {%- assign quickLinkClass = 'btn btn-secondary btn-sm' -%}
        {% when 'link' %}
            {%- assign quickLinkClass = 'text-reset text-underline-indicator fw-bold' -%}
        {% when 'link-with-icon' %}
            {%- assign quickLinkClass = 'text-reset text-icon-with-underline-indicator fw-bold' -%}
    {%- endcase -%}

    <a href="{{ quickLinkUrl | default: '#' }}" class="{{ quickLinkClass }}">

        {{- quickLinkText -}}

        {%- if quickLinkStyle == 'link-with-icon' -%}
            {%- render 'icon', icon: 'arrow-right' -%}
        {%- endif -%}

    </a>

{%- endif -%}